# N8N_POSTGRES_USER is the PostgreSQL user for the n8n instance
POSTGRES_USER=n8n-v2-admin
POSTGRES_PASSWORD='qwer$0428'
POSTGRES_DB=n8n-v2

# N8N_NON_ROOT_USER is the non-root user for the n8n instance
POSTGRES_NON_ROOT_USER=n8n-v2-user
POSTGRES_NON_ROOT_PASSWORD='qwer$1234'

#N8N_SECURE_COOKIE=false
N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true

# N8N_DOMAIN is the domain name for the n8n instance
DOMAIN=n8n.localhost
LE_EMAIL=admin@localhost

# N8N_RUNNER_SECRET is used to authenticate requests from the n8n runner
N8N_RUNNER_SECRET=qwer$1234
